* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}
header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > img {
}
header > a {
  color: white;
  text-decoration: none;
}
header > a:hover {
  text-decoration: underline;
}
